<footer>
    <div class="footer-section">
        <a href="/">Privacy Policy</a> |
        <a href="/">Terms of Service</a> |
        <a href="/">Contact Us</a>
    </div>
  
    <div class="footer-bottom">
        <p>© 2025 iSocial. All rights reserved.</p>
    </div>
  </footer>
  